<a href="https://colab.research.google.com/github/Viksilio/DA_plus/blob/master/%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_%E2%84%962(DA16_plus).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div class="alert alert-success">
<h1> Привет, Владислав!</h1>
    
    
Меня зовут Даниил, я буду проверять твой проект. Предлагаю общаться на "ты" :). Если это не совсем комфортно, пожалуйста, дай знать.
    
Моя главная цель - не указывать на твои ошибки, а помочь тебе закрепить изученный материал и приблизиться к освоению профессии. 
    
Здесь и далее я буду помечать свои комментарии в отдельных раскрашенных ячейках: 
    
- В зеленых ячейках (как эта) я буду оставлять свои рекомендации и комментарии, которые помогут сделать твое решение лучше. Доработки, приведенные в таких ячейках, не обязательны к выполнению. 

<div class="alert alert-warning">
<h1> Комментарий ревьюера 	&#128276;</h1>

В желтых ячейках я буду подсвечивать тебе некритичные ошибки и оставлять рекомендации на будущее, которые помогут тебе писать более эффективный код, защищать себя от ошибок, сделать проект более выразительным для заказчика. 
    
Не обязательно вносить правки по желтым комментариям для того, чтобы проект был принят.

</div>
    
<div class="alert alert-danger">
<h1> Комментарий ревьюера &#9940;</h1>

В красных комментариях будут оставлены рекомендации, выполнение которых необходимо для успешной сдачи проекта. Причины простановки каждого такого комментария я подробно опишу. В случае, если что-то осталось непонятным, пожалуйста, спрашивай. Очень важно, чтобы проект принес тебе максимум пользы. 

</div>
    
Давай работать над проектом в диалоге: если ты вносишь какие-то изменения согласно моим рекомендациям, обязательно укажи на это. Выбери для своих комментариев заметный цвет, чтобы я мог легче отследить изменения. Важно не перемещать и не удалять наши комментарии: так мы сможем провести повторное ревью оперативнее. 
    
<div class="alert alert-info"> 
    
<h1>Комментарий студента</h1> 
    
В таких ячейках ты можешь оставлять свои комментарии)

</div>

</div>

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [ ]:
import pandas as pd
import seaborn as sns

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [ ]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [ ]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [ ]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [ ]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [ ]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()

71

In [ ]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [ ]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [ ]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [ ]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [ ]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [ ]:
# Создадим сводную таблицу между количеством детей и сумму заемщиков, которые имели задолженность по возврату кредита
correlation_children_debt = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum', 'mean']).reset_index()
correlation_children_debt.columns = ['Количество детей', 'Всего заемщиков', 'Должников', 'Среднее значение должников, %']
correlation_children_debt['Среднее значение должников, %'] = correlation_children_debt['Среднее значение должников, %'].apply(lambda x: format(x, '.2%'))
correlation_children_debt

   Количество детей  Всего заемщиков  Должников Среднее значение должников, %
0                 0            14091       1063                         7.54%
1                 1             4808        444                         9.23%
2                 2             2052        194                         9.45%
3                 3              330         27                         8.18%
4                 4               41          4                         9.76%
5                 5                9          0                         0.00%

**Вывод:** 

- В сводной таблице `correlation_children_debt` видно, что в семьях где есть хотя бы один ребенок, больше должников по возврату кредита, не учитывая семьи, где три и более детей. Так как выборка заемщиков с таким количеством детей мала и их можно не учитывать при исследовании.
- Меньше всего заемщиков в семьях без детей, вероятно это связано с тем, что у данных семей меньше статей на расходы и платить долг по кредиту получается успешнее и с меньшими затруднениями.

<div class="alert alert-danger">
<h1> Комментарий ревьюера &#9940;</h1>

Хороший вывод. 
    
<hr>
Однако у примененного здесь и далее подхода есть существенный недостаток - подход опирается на абсолютные значения.
    
На всякий случай поясню. Предположим, мы хотим понять, кто более надежный заемщик - человек со светлыми волосами или человек с темными волосами. Мы собираем статистику, проводим расчеты и получаем следующий результат: у нас
    
1. 100 недобросовестных заемщиков с белыми волосами
    
2. 1000 недобросовестных темноволосых заемщиков
    
Похоже, вывод очевиден: светловолосые в 10 раз надежнее темноволосых.
    
Однако выясняется, темноволосых заемщиков к нам пришло 10.000 человек, а светловолосых - всего 100.
    
Выясняется, что на 10 темноволосых приходится всего один должник, в то время как <b>каждый блондин так и не вернул деньги</b> и с ним пора поступать, как с Лебовски в свое время)
    
Иными словами: <b>Владислав, пора переходить на проценты)</b>
    
<hr>

    
Попробуй построить таблицу следующим образом: 
    
1. Примени к `data` метод `pivot_table()` (документация - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)
2. Аргументу `index` передай колонку с количеством детей
3. Аргументу `values` - колонку с фактом наличия задолженности
4. Аргументу `aggfunc` - массив из названий агрегирующих функций - `['count', 'sum', 'mean']`
5. Результат действий выше сохрани в переменную
6. Колонки можно будет переименовать переназначив атрибут `columns` 
    
Результирующая таблица будет аналогична твоей текущей реализации, однако код будет оптимальнее с точки зрения и производительности, и читаемости. 
    
Скелет кода, чтобы разобраться было проще: 
    
    res = data.pivot_table(index='Количество детей', 
                           values='Факт наличия задолженности', 
                           aggfunc=['count', 'sum', 'mean'])
    res.columns = ['новое имя для количества значений', 'новое имя для суммы', 'новое имя для среднего']
    res
    
Обрати внимание на то, какие значения дает агрегация при применении к булевой колонке. 
    
Примени этот код здесь и далее, пожалуйста. 
    
Рекомендую добавить также замечания относительно репрезентативности выборок внутри каждой из групп. Речь о том, что (спойлер) в нашем случае безукоризненно-надежны семьи с пятью детьми, но можем ли мы доверять этой статистике?
    
Соответственно столбчатую диаграмму тоже лучше строить не по абсолютным значениям, а по процентам.
    
Если возникнут какие-то вопросы, обязательно задавай - разберемся) 
    

</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [ ]:
# Создадим сводную таблицу между семейным статусом заемщиков и количеством заемщиков,которые имели задолженность по возврату кредита
correlation_family_status_debt = data.pivot_table(index=['family_status'], values='debt', aggfunc=['count', 'sum', 'mean']).reset_index()
correlation_family_status_debt.columns = ['Семейное положение', 'Всего заемщиков', 'Должников', 'Среднее значение должников, %']
correlation_family_status_debt['Среднее значение должников, %'] = correlation_family_status_debt['Среднее значение должников, %'].apply(lambda x: format(x, '.2%'))
correlation_family_status_debt

,Семейное положение,Всего заемщиков,Должников,"Среднее значение должников, %"
0,Не женат / не замужем,2796,273,9.76%
1,в разводе,1189,84,7.06%
2,вдовец / вдова,951,63,6.62%
3,гражданский брак,4134,385,9.31%
4,женат / замужем,12261,927,7.56%

**Вывод:** 

- Больше всего задолженников по возврату кредитов среди людей с семейным положением - "не женат/ не замужем" и состоящих в "гражданском браке". Люди из данной категории зачастую не имея "семейного бюджета", берут кредит на "общую цель", которая превышает доходы заемщиков.
- Меньше всего задолженников по возврату кредит среди "вдовцов/"вдов" и тех кто "в разводе". Люди из данной категории в виду своего семейного положения покрывают только свои потребности и у них нет необходимости в "дорогих покупках".

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [ ]:
# Сводная таблица между уровнем дохода заемщиков и количеством заемщиков, которые имели задолженность по возврату кредита
correlation_total_income_debt = data.pivot_table(index=['total_income_category'], values='debt', aggfunc=['count', 'sum', 'mean']).reset_index()
correlation_total_income_debt.columns = ['Категория уровня дохода', 'Всего заемщиков', 'Должников', 'Среднее значение должников, %']
correlation_total_income_debt['Среднее значение должников, %'] = correlation_total_income_debt['Среднее значение должников, %'].apply(lambda x: format(x, '.2%'))
correlation_total_income_debt

,Категория уровня дохода,Всего заемщиков,Должников,"Среднее значение должников, %"
0,A,25,2,8.00%
1,B,5014,354,7.06%
2,C,15921,1353,8.50%
3,D,349,21,6.02%
4,E,22,2,9.09%

**Вывод:** 

- В сводной таблице `correlation_total_income_debt` не имеется целесообразным рассмотривать результаты заемщиков из категории уровней дохода E и A, так как их общее количество соизмеримо мало с общим числом заемщиков.
- Больше всего должников по возврату кредита среди категории с уровнем дохода в 50001–200000. Это люди "среднего класса", основные потребители кредитных услуг банка.
- Меньше всего задолженников из категории с уровнем дохода 30001–50000, но и в данном случае выборка заемщиков мала, чтобы делать однозначные вывода по добросовестности данной категории люди.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [ ]:
# Сводная таблица между целью кредита и количеством заемщиков, которые имели задолженность по возврату кредита
correlation_purpose_debt = data.pivot_table(index=['purpose_category'], values='debt', aggfunc=['count', 'sum', 'mean']).reset_index()
correlation_purpose_debt.columns = ['Цель кредита', 'Всего заемщиков', 'Должников', 'Среднее значение должников, %']
correlation_purpose_debt['Среднее значение должников, %'] = correlation_purpose_debt['Среднее значение должников, %'].apply(lambda x: format(x, '.2%'))
correlation_purpose_debt

,Цель кредита,Всего заемщиков,Должников,"Среднее значение должников, %"
0,операции с автомобилем,4279,400,9.35%
1,операции с недвижимостью,10751,780,7.26%
2,получение образования,3988,369,9.25%
3,проведение свадьбы,2313,183,7.91%

**Вывод:** 

- Меньше всего задолженников по возврату кредита среди "операций с недвижимостью". Это связано с тем, что сумма кредита в таких случая большая и люди подходят к решения приобретения недвижимости в кредт более осознано. 
- Также малый процент должников среди кредитов на "проведении свадьбы". Кредит для этой цели зачастую небольшой и особо не затрудняет финансовое состоянии для своевременной оплаты.
- Больше всего должников по возврату кредита среди "операции с автомобилем" и "получение образования". В первом случае, заемщики скорее всего не учитывают, то, что автомобиль это дополнительные траты, помимо взятого кредита. Во втором случае, люди могут терять мотивации к дальнейшему обучения и бросать ее, соответственно не платя далее по кредиту.

<div class="alert alert-warning">
<h1> Комментарий ревьюера &#128276;</h1>

Владислав, после внесения правок выше не забудь проверить выводы на актуальность. 
    
</div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски встречались, только в количественных данных.

Пропуски в количественным данных были типа MAR, то есть пропущены не случайно. Заещмики не хотели указывать свой ежемесячный доход и/или общий трудовой стаж.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Среднее значение некорректно характеризует данные, когда некоторые значения сильно выделяются среди большинства.

В нашем случае для таких данных как уровень дохода и трудовой стаж, вернее взять медианное значение, нежели среднее, так как разброс в текущих типах данных достаточно большой.

<div class="alert alert-success">
<h1> Комментарий ревьюера &#9989;</h1>

Ответы корректны - отлично. 
    
</div>

### Шаг 4: общий вывод.

###### Идеальный заемщик:

В ходе исследование, выяснилось, что заемщик, у которого меньше вероятность иметь задолженность по возрату кредита будет со следующими характеристиками:

- Не имеет детей
- Вдовец/вдова или в разводе
- Доход варируется в пределах 200001–1000000

Также, в ходе исследования выяснилось, что выгоднее всего выдавать кредит на "операции с недвижимостью" и "проведение свадьбы"

###### Критический заемщик:

Исследовав данные, также удалось составить "портрет" заемщика с высокой вероятность не выплаты задолженности по кредиту:

- Один или два ребенка
- Не женат/Не замужем или находится в гражданском браке
- Средний уровень дохода 50001–200000

Выдача кредиторв на "операции с автомобилем" и  "получение образования" является заведомо опасной для банка, так как количество не возвратов по данной цели больше всего.

###### Примечание:

Для проведения более точного исследования, необходимо большее количества данных о людях их разных категорий (4 и более детей), доход свыше 1000001 и т.д.
Также в исследование не рассмотрена зависимость рода деятельности заемщиков, что является не мало важным фактором.

<div class="alert alert-success">
<h1> Комментарий ревьюера &#9989;</h1>

Замечательный общий вывод. Большой плюс, что ты решил предоставить сборный портрет заемщиков. Мой опыт подсказывает, что так информация лучше утрамбовывается в голове заказчика. 
    
Согласен с примечанием: действительно, данное исследование скорее хороший черновик для полноценного анализа. Однако образовательную пользу проект точно принес)
    
</div>

<div class="alert alert-success">
<h1> Итерация 1. Заключение. </h1>
    
Владислав, тобой проделана большая работа, которую было увлекательно читать. Спасибо!)
    
Но расслабляться пока рано: нужно потрудиться над правками еще немного. 
    
В своем ответе под этой ячейкой подскажи, пожалуйста, сильно ли тебя поджимает время. Если этот проект не единственный и ты выполняешь какие-то еще, дай знать: мы найдем способ ускорить работу над этим заданием. 
    
Не забывай, что я буду рад ответить на любые твои вопросы относительно требуемых правок. 
    
Очень жду работу на повторную проверку. Удачи!)

</div>

<div class="alert alert-info"> 
    
###### Привет, Даниил!

Благодарю за ревью!

Полностью согласен с замечаниями, когда писал общий вывод, пришло осознание, что данные не нормированы, но честно вылетело из головы,
что данные можно просто усреднить, не учитывая случаи с маленькой выборкой.

К сожалению, после изменения среднего значения в проценты, не строится столбчатая диаграмма :(

</div>

<div class="alert alert-success">
<h1> Итерация 2. Заключение. </h1>
    
Владислав, все правки внесены корректно - отличная работа.
    
Касательно диаграмм: они перестали строиться, так как сейчас в нужной колонке стоит текст (после применения форматирования).
    
Соответственно, чтобы вернуть графики на место, стоит получать итоговую таблицу примерно вот так: 
    
    correlation_purpose_debt = data.pivot_table(index=['purpose_category'], values='debt', aggfunc=['count', 'sum', 'mean']).reset_index()
    correlation_purpose_debt.columns = ['Цель кредита', 'Всего заемщиков', 'Должников', 'Среднее значение должников, %']
    correlation_purpose_debt['Среднее значение должников, %'] = round(100 * correlation_purpose_debt['Среднее значение должников, %'], 2)
    correlation_purpose_debt
   
Тогда графики вернутся на свои места)
    
В остальном все в порядке. Твой проект принят - поздравляю!
    
Успехов в дальнейшем обучении)

</div>